.container{
    position: fixed;
    justify-content: center;
    justify-items: center;
}
.container h1 {
    position: center;
    justify-content: center;
    justify-items: center;
}
.container h2 {
    justify-self: center;
}
.reset {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
}