.card {
    width: 200px;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px;
    padding: 16px;
    background-color: #22af51;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
}
.card img {
    max-width: 60%;
    max-height: 60%;
}
.card h2 {
    font-size: 18px;
    margin-bottom: 8px;
    background-color:#22af51;
}

.card p {
    font-size: 14px;
    color: #0d0d0d;
}
.favoriteBtn {
    position: relative;
    margin: 8px;
    font-weight: bold;
    background-color: #22af51;
}
.closeBtn {
    position: relative;
    background-color: #22af51;
}
.favoriteBtn :hover {
    background-color: aqua;
    scale: 2;
    transform:scale(2);
}